<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/registro.css">
    <title>Document</title>
</head>
<body>
    <div class="imagen-over">
        <div class="over"></div>
        <div class="imagen"></div>
    </div>

    <div class="contenedor">
        <div class="contenido">
            <a href="/" class="link1">
                <div class="Volver">
                    <img src="/Imagenes/flecha.png" alt="">
                    <h6>Volver</h6>
                </div>
            </a>
            <h1>Registrarse</h1>
            <form action="/save" method="POST">
                <div class="input">
                    <label for="usuario">Nombre completo</label>
                    <input type="text" id="nombre" name="user_nombre" tabindex="1" required>
                </div>
                <div class="input2">
                    <label for="usuario">Correo</label>
                    <input type="email" id="correo" name="user_correo" tabindex="2" required>
                </div>
                <div class="input5">
                    <label for="direccion">Direccion</label>
                    <input type="text" id="direccion" name="user_direccion" tabindex="3" required>
                </div>
                <div class="input3">
                    <label for="usuario">Telefono</label>
                    <input type="text" id="tel" name="user_telefono" tabindex="4" required>
                </div>
                <div class="input4">
                    <label for="usuario">Contraseña</label>
                    <input type="text" id="pass" name="user_contraseña" tabindex="5" required>
                </div>
                <div class="check">
                    <input id="activar" name="terminos" type="checkbox" required>
                    <label for="activar">Aceptar términos y condiciones</label>
                </div>
                <button type="submit" tabindex="5">Registrarse</button>
            </form>
            <h6 class="o-inicio">o inicia sesión usando</h6>
            <div class="logos">
                <img src="/Imagenes/facebook red.png" alt="">
                <img src="/Imagenes/social.png" alt="">
                <img src="/Imagenes/gorjeo.png" alt="">
            </div>
            <div class="registro">
                <h6 class="No-registro">¿Ya tienes una cuenta?</h6>
                <a href="/signin"><h6 class="regis">Iniciar sesión</h6></a>
            </div>
        </div>
    </div>
</body>
</html>